DOMAIN_NAME=susami.42.fr

# certificates
COUNTY=JP
STATE=Tokyo
ORGANIZATION=42Tokyo
CERT_DIR=/etc/nginx/ssl
CERT_NAME=susami.42.fr
RSA_KEY_NUMBITS=4096

# MYSQL SETUP
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=password

# WORDPRESS users for admin and editor
WP_ADMIN_USER=susami
WP_ADMIN_PASSWORD=password
WP_ADMIN_EMAIL=susami@example.com
WP_EDITOR_USER=editor
WP_EDITOR_PASSWORD=password
WP_EDITOR_EMAIL=editor@example.com
WP_URL=https://susami.42.fr
WP_TITLE="Susami's blog"
